@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.meals{
    padding: 20px;
    width: 80vw;
    height: auto;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.37);
    border-radius: 4px;
    display: grid;
    grid-template-columns:repeat(5,auto);
    grid-template-rows: repeat(4,auto);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    /* overflow: hidden; */
}
.meals .meal{
    box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 20px;
    color: blueviolet;
}
@media(max-width:1000px){
    .meals{
        grid-template-columns:repeat(4,auto);
        grid-template-rows: repeat(5,auto);
    }
}
@media(max-width:750px){
    .meals{
        grid-template-columns:repeat(3,auto);
        grid-template-rows: repeat(6,auto);
    }
}
@media(max-width:600px){
    .meals{
        grid-template-columns:repeat(2,auto);
        grid-template-rows: repeat(10,auto);
    }
}
@media(max-width:350px){
    .meals{
        grid-template-columns:repeat(1,auto);
        grid-template-rows: repeat(20,auto);
    }
}
 /* Pagination css */
 .pagination{
    margin: 20px 0; 
    display: flex;
    justify-content: space-between;
    width: 300px;
}
.pagination >button{
    display: block;
    text-align: center;
    border: none;
    background-color: transparent;
    padding: 3px 8px;
    font-size: 24px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.37);
    font-size: 24px;
    border-radius: 2px;
    cursor: pointer;
}
.pagination .changeTo{
    display: flex;
    width: 200px;
    overflow: hidden;
}
.changeTo:-webkit-scrollbar {
    /* display: none; */
}
.pagination p{
     margin: 0 5px;
     padding: 3px 8px;
     font-size: 24px;
     box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.37);
     cursor: pointer;
     transition: all 0.6;
}
.pagination p:hover{
    transform: scale(1.1);
}


/* //Toolbar CSS */

.Toolbar{
    width: 90%;
    height: 50px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.37);
    margin: 10px 0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.Toolbar > img{
    width: 50px;
    height: 100%;
}